*{
    margin: 0;
}

.contenedor{
background-image: url(https://us.123rf.com/450wm/faitotoro/faitotoro1602/faitotoro160200001/51543641-4-coraz%C3%B3n-sin-patr%C3%B3n-fondo-del-coraz%C3%B3n-dibujado-a-mano.jpg?ver=6);
width: 100vw;
height: 100vh;
text-align: center;


}
    
  

p{


    font-size: xx-large;
    padding: 15%;
    color: crimson;
    
}  

button{
    font-size: xx-large;
    padding: 0.75em;
}

#yesBtn{
    transform: translate(-100%,0);
}

#noBtn{
    position: absolute;
}